@{
    ViewData["Title"] = "Nos services";
    string tvaNonApplicable = "Aucune taxe : TVA non applicable, art. 293B du CGI";
    string fraisInclus = "Coût de la prestation inclu dans le prix négocié";
}

<style>

    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height: 400px;
    }

    #locationField, #controls {
        position: relative;
        width: 480px;
    }

    /*#autocomplete {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
    }*/

    .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
        font-family: "Roboto";
    }

    #address {
        border: 1px solid #000090;
        background-color: #f0f9ff;
        width: 480px;
        padding-right: 2px;
    }

        #address td {
            font-size: 10pt;
        }

    .field {
        width: 99%;
    }

    .slimField {
        width: 80px;
    }

    .wideField {
        width: 200px;
    }

    #locationField {
        height: 20px;
        margin-bottom: 2px;
    }
</style>

<div class="container">

    <div class="row">

        <div class="card-deck">

            <div class="row">

                <div class="card">
                    <img class="card-img-top" src="~/Images/accounting-3190208_640.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Achat</h5>
                        <div class="card-text">
                            <p>Nous vous accompagnons dans l'acquisition de vos équipements et logiciels informatiques.</p>
                            <p>A partir de votre besoin, nous sélectionnons ensemble les propositions. Puis, nous négocions pour vous les conditions tarifaires.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">Sur devis<sup><abbr title="@fraisInclus"> (1)</abbr></sup></label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/web-design-2038872_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="">Développement</h5>
                        <div class="card-text">
                            <p>Nous réalisons des sites internet sur-mesure.</p>
                            <p>Après une étude de vos souhaits, nous concevons un site WEB dédié pour répondre au mieux à vos attentes.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">400 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / jour</label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/software-development-4165307_640.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Formation</h5>
                        <div class="card-text">
                            <p>Nous vous enseignons à devenir autonome sur vos outils informatiques.</p>
                            <p>Selon vos cas d'utilisation, nous créons un programme adéquate qui vous permettra d'utiliser vos équipements sans aide.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">50 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / heure</label></small>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="card">
                    <img class="card-img-top" src="~/Images/computer-3343887_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Assistance</h5>
                        <div class="card-text">
                            <p>Nous vous aidons à résoudre vos problèmes informatiques.</p>
                            <p>Après analyse des difficultés que vous rencontrez, nous déterminons ensemble la meilleure solution.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">50 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / heure</label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/application-3399516_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Conseil</h5>
                        <div class="card-text">
                            <p>Nous vous proposons également des services sur-mesure.</p>
                            <p>Vous avez un autre besoin, nous pouvons vous guider dans la réalisation de votre projet.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">Sur devis<sup><abbr title="@fraisInclus"> (1)</abbr></sup></label></small>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-body">
                        <div class="card-text">
                            <ul style="list-style:none;padding-left:0;">
                                <li style="font-style: italic"><small class="text-muted">(1) @fraisInclus</small></li>
                                <li style="font-style: italic"><small class="text-muted">(2) @tvaNonApplicable</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row" style="margin-top:2em">

        <div class="container">

            <div class="row">

                <h5>Zone de déplacement à domicile : Saint-grégoire (35760)</h5>

            </div>

            <div class="row">

                <div id="map" class="w-100"></div>

            </div>

            <div class="row">

                <form id="addressForm" class="w-100">
                    <div class="form-row" style="margin-top:1em">
                        <label for="autocomplete">Mon emplacement</label>
                        <input type="text" class="form-control" id="autocomplete" onFocus="geolocate()" placeholder="Saisissez votre adresse ici ...">
                        <div id="feedback" class="hide" style="overflow-wrap:break-word"></div>
                    </div>
                    <button class="btn btn-primary" style="margin-top:1em" type="submit">Vérifier mon addresse</button>
                </form>

            </div>

        </div>

    </div>

</div>

<!-- The Modal -->
<div class="modal" id="addressesModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Choix possibles</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <ul id="addressesList">
                </ul>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">

        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        var map;
        var markers = [];
        var infoWindow;
        var placeSearch, autocomplete;

        $(document).ready(function () {

            var form = $('#addressForm')[0];
            form.onsubmit = function (e) {

                event.preventDefault();
                /* fire your validation and $.post */

                searchAddress();

                return false;

            }

            //$("#inputLocation")[0].addEventListener('input', function () {

            //    this.classList.remove("is-invalid");
            //    this.classList.remove("is-valid");

            //    var feedbackLabel = $('#feedback')[0];

            //    feedbackLabel.innerText = '';
            //    feedbackLabel.classList.add("hide");
            //    feedbackLabel.classList.remove("invalid-feedback");
            //    feedbackLabel.classList.remove("valid-feedback");

            //});

        });

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search predictions to
            // geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'), { types: ['geocode'] });

            // Avoid paying for data that you don't need by restricting the set of
            // place fields that are returned to just the address components.
            autocomplete.setFields(['address_component']);

            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle(
                        { center: geolocation, radius: position.coords.accuracy });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }

        function formKo(message) {

            var fieldInput = $('#inputLocation')[0];

            fieldInput.classList.remove("is-valid")
            fieldInput.classList.add("is-invalid");

            var feedbackLabel = $('#feedback')[0];

            feedbackLabel.innerText = '';
            feedbackLabel.classList.remove("hide")
            feedbackLabel.classList.remove("valid-feedback")
            feedbackLabel.classList.add("invalid-feedback")
            feedbackLabel.append(message);

        }

        function formOk() {
            var fieldInput = $('#inputLocation')[0];

            fieldInput.classList.remove("is-invalid");
            fieldInput.classList.add("is-valid");

            var feedbackLabel = $('#feedback')[0];

            feedbackLabel.innerText = '';
            feedbackLabel.classList.remove("hide");
            feedbackLabel.classList.remove("invalid-feedback");
            feedbackLabel.classList.add("valid-feedback");
            feedbackLabel.append("Nous pouvons nous déplacer à votre adresse.");
        }

        function isInPolygon(e) {

            $.getJSON("/polygon-saint-gregoire.json", function (city) {

                var coordinate = new google.maps.LatLng(e.lat, e.lng);
                var polygon = new google.maps.Polygon({ paths: city.coords });
                isIn = google.maps.geometry.poly.containsLocation(coordinate, polygon);

                deleteMarkers();
                addMarker(coordinate);

                if (isIn) {

                    formOk();

                } else {

                    formKo("Cette adresse se trouve en dehors de notre zone d'activité.");
                }

            });

        }

        // Adds a marker to the map and push to the array.
        function addMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: {
                    url: "https://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                }
            });
            markers.push(marker);
        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

        function searchAddress() {

            let address = $("#addressForm :input")[0].value;

            $.ajax({
                url: 'https://api-adresse.data.gouv.fr/search/?q=' + encodeURI(address),// + '&limit=2',
                //data: data,
                processData: false,
                contentType: false,
                type: 'GET',
                success: function (data) {

                    coordinates = data.features;

                    if (coordinates.length > 1) {

                        $('#addressesList').empty();

                        $.each(coordinates, function (index, value) {

                            let jsonObj = { lng: value.geometry.coordinates[0], lat: value.geometry.coordinates[1] };

                            localStorage.setItem(index, JSON.stringify(jsonObj));
                            //var obj2 = JSON.parse(localStorage.getItem('myObj'));

                            $('#addressesList').append(

                                $('<li>').append(

                                    $('<label>').text(value.properties.label)

                                ).append(

                                    $('<a>').attr('class', 'float-right').attr('href', '#').click(function () {

                                        event.preventDefault();

                                        $("#addressForm :input")[0].value = value.properties.label;

                                        isInPolygon(jsonObj);

                                        $(".modal-footer > button[data-dismiss='modal']").trigger("click");

                                    }).text('Sélectionner')

                                )

                            )

                        });

                        formKo("Nous trouvons plusieurs correspondances, pourriez-vous apporter des precisions à votre adresse.");

                        $('#addressesModal').modal({ keyboard: false });

                    } else if (coordinates.length == 1) {

                        jsonText = '{"lng": ' + coordinates[0].geometry.coordinates[0] + ', "lat": ' + coordinates[0].geometry.coordinates[1] + "}";
                        //alert(jsonText);
                        coords = JSON.parse(jsonText);

                        isInPolygon(coords);

                    } else {

                        formKo("Cette adresse se trouve en dehors de notre zone d'activité.");

                    }

                },
                error: function (xhrRequest, status, error) {

                    formKo("Une erreur s'est produite lors de la localisaton.");

                }
            });

        }

        function initJs() {

            initMap();

            initAutocomplete();

        }

        function initMap() {

            $.getJSON("/polygon-saint-gregoire.json", function (city) {

                map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 12,
                    center: city.center,
                    mapTypeId: 'terrain'
                });

                // Define the LatLng coordinates for the polygon.

                // http://theopenmap.herokuapp.com/api/v2_coordinates/
                // + body { location:35760+Saint-Grégoire }

                // Construct the polygon.
                var mapZone = new google.maps.Polygon({
                    paths: city.coords,
                    strokeColor: '#FF0000',
                    strokeOpacity: 0.8,
                    strokeWeight: 3,
                    fillColor: '#FF0000',
                    fillOpacity: 0.2
                });
                mapZone.setMap(map);

                // Add a listener for the click event.
                // mapZone.addListener('click', showArrays);

                //infoWindow = new google.maps.InfoWindow;

            });

        }

    </script>

    @*key=AIzaSyAMm968DvdBSqzKuyALgIKxQqUaVfBvxjw&*@
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMm968DvdBSqzKuyALgIKxQqUaVfBvxjw&callback=initJs&libraries=geometry,places">
    </script>

}
