@{
    ViewData["Title"] = "Nos services";
    string tvaNonApplicable = "Aucune taxe : TVA non applicable, art. 293B du CGI";
    string fraisInclus = "Coût de la prestation inclu dans le prix négocié";
}

<h1 style="text-align:center">
    <span>@ViewData["Title"]</span>
</h1>

<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css' type='text/css' />
<style>

    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
    #map {
        height: 450px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        border: 2px solid transparent;
    }

    .parentMap {
        position: relative;
        width: 100%;
    }

    .geocoder {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        top: 20px;
    }

    .mapboxgl-ctrl-geocoder {
        min-width: 100%;
    }

    .info {
        position: absolute;
        z-index: 1;
        width: 50%;
        left: 50%;
        margin-left: -25%;
        bottom: 35px;
        visibility: hidden;
    }

        .info div {
            background: #fff;
            padding: 10px;
            border-radius: 3px;
        }

    .card {
        margin-bottom: 15px !important
    }
</style>


<div class="container">

    <div class="row" style="margin-bottom:1rem">

        <div class="card-deck">

            <div class="row">

                <div class="card">
                    <img class="card-img-top" src="~/Images/accounting-3190208_640.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Achat</h5>
                        <div class="card-text">
                            <p>Nous vous accompagnons dans l'acquisition de vos équipements et logiciels informatiques.</p>
                            <p>A partir de votre besoin, nous sélectionnons ensemble les propositions. Puis, nous négocions pour vous les conditions tarifaires.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">Sur devis<sup><abbr title="@fraisInclus"> (1)</abbr></sup></label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/web-design-2038872_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title" style="">Développement</h5>
                        <div class="card-text">
                            <p>Nous réalisons des sites internet sur-mesure.</p>
                            <p>Après une étude de vos souhaits, nous concevons un site WEB dédié pour répondre au mieux à vos attentes.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">400 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / jour</label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/software-development-4165307_640.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Formation</h5>
                        <div class="card-text">
                            <p>Nous vous enseignons à devenir autonome sur vos outils informatiques.</p>
                            <p>Selon vos cas d'utilisation, nous créons un programme adéquate qui vous permettra d'utiliser vos équipements sans aide.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">50 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / heure</label></small>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="card">
                    <img class="card-img-top" src="~/Images/computer-3343887_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Assistance</h5>
                        <div class="card-text">
                            <p>Nous vous aidons à résoudre vos problèmes informatiques.</p>
                            <p>Après analyse des difficultés que vous rencontrez, nous déterminons ensemble la meilleure solution.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">50 euros<sup><abbr title="@tvaNonApplicable"> (2)</abbr></sup> / heure</label></small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="~/Images/application-3399516_640x423.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Conseil</h5>
                        <div class="card-text">
                            <p>Nous proposons également des services personnalisés.</p>
                            <p>Vous avez un autre besoin, nous pouvons vous guider dans la réalisation de votre projet.</p>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <small class="text-muted"><label style="font-weight:bold;font-style: italic;font-size-adjust:1.1">Sur devis<sup><abbr title="@fraisInclus"> (1)</abbr></sup></label></small>
                    </div>
                </div>
                <div class="card border-0">
                    <div class="card-body">
                        <div class="card-text">
                            <ul style="list-style:none;padding-left:0;">
                                <li style="font-style: italic"><small class="text-muted">(1) @fraisInclus</small></li>
                                <li style="font-style: italic"><small class="text-muted">(2) @tvaNonApplicable</small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="container" style="padding:0px">

            <div class="row">

                <h5>Zone de déplacement à domicile : Saint-grégoire (35760)</h5>

            </div>

            <div class="row">

                <div class="parentMap" style="padding:0px;margin:0px">
                    <div id="map"></div>
                    <div id="geocoder" class="geocoder"></div>
                    <div id="info" class="info"><div style="text-align:center"></div></div>
                </div>

            </div>

        </div>

    </div>

</div>



@section Scripts
{

    <script type="text/javascript">

        accessToken = 'pk.eyJ1IjoibmFvcHJvIiwiYSI6ImNrMTlyYmVzbjAxOGQzbnBpdmhrbnl2YmEifQ.qpxklqHmxVQEYXpGsrO09Q';
        var map;
        var popup;
        var infoWindow;

        $(document).ready(function () {

            initMap();

            //var info = document.getElementById('info');
            //info.innerHTML = '<strong>Click a marker ... .... .... .... .... .... ....</strong>';

        });

        function isInPolygon(point) {

            $.getJSON("/polygon-saint-gregoire.json", function (city) {
                var coords = [];
                $.each(city.coords, function (i, value) {
                    coords[i] = [value.lng, value.lat];
                });

                var pt = turf.point(point);
                var poly = turf.polygon([coords]);
                var info = document.getElementById('info');

                if (turf.booleanPointInPolygon(pt, poly)) {

                    info.firstElementChild.innerHTML = "Cette adresse est couverte";
                    info.firstElementChild.style.color = 'green';

                } else {

                    info.firstElementChild.innerHTML = "Cette adresse n'est pas couverte";
                    info.firstElementChild.style.color = 'red';

                }

                info.firstElementChild.style.visibility = 'visible';

            });



        }

        function initMap() {

            $.getJSON("/polygon-saint-gregoire.json", function (city) {

                var coords = [];

                $.each(city.coords, function (i, value) {
                    coords[i] = [value.lng, value.lat];
                });

                mapboxgl.accessToken = accessToken;
                map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [city.center.lng, city.center.lat + 0.004],
                    zoom: 11.7
                });

                map.on('load', function () {

                    map.addLayer({
                        'id': 'saintGregoireSurface',
                        'type': 'fill',
                        'source': {
                            'type': 'geojson',
                            'data': {
                                'type': 'Feature',
                                'geometry': {
                                    'type': 'Polygon',
                                    'coordinates': [coords]
                                }
                            }
                        },
                        'layout': {},
                        'paint': {
                            'fill-outline-color': 'rgba(200, 200, 200, 1)',
                            'fill-color': '#FF0000',
                            'fill-opacity': 0.1
                        }
                    });

                    map.addLayer({
                        "id": "saintGregoirePerimeter",
                        "type": "line",
                        "source": {
                            "type": "geojson",
                            "data": {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "LineString",
                                    "coordinates": coords
                                }
                            }
                        },
                        "layout": {
                            "line-join": "round",
                            "line-cap": "round"
                        },
                        "paint": {
                            "line-color": "#FF0000",
                            "line-width": 0.8
                        }
                    });

                });

                var geocoder = new MapboxGeocoder({
                    accessToken: mapboxgl.accessToken,
                    placeholder: 'Saisissez votre adresse ...',
                    mapboxgl: mapboxgl,
                    proximity: { longitude: city.center.lng, latitude: city.center.lat } // Coordinates of Saint-Grégoire (35760)
                });

                document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

                // Add zoom and rotation controls to the map.
                map.addControl(new mapboxgl.NavigationControl());

                $('.mapboxgl-ctrl-geocoder--input').on('keyup', function (e) {

                    if (e != null & e.currentTarget != null && e.currentTarget.value != null && e.currentTarget.value.length == 0) {
                        document.getElementById('info').firstElementChild.innerHTML = '';
                        document.getElementById('info').firstElementChild.style.visibility = 'hidden';
                    }

                });

                $('.mapboxgl-ctrl-geocoder--button').on('click', function () {
                    document.getElementById('info').firstElementChild.innerHTML = '';
                    document.getElementById('info').firstElementChild.style.visibility = 'hidden';
                });

                // Listen for the `result` event from the Geocoder
                // `result` event is triggered when a user makes a selection
                //  Add a marker at the result's coordinates
                geocoder.on('result', function (e) {

                    map.flyTo({ center: e.result.center });
                    isInPolygon(e.result.center);

                });



            });

        }

    </script>

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src='https://npmcdn.com/@@turf/turf/turf.min.js'></script>


}
