@{
    ViewData["Title"] = "Politique de confidentialité";
    Contact contact = SharedInfo.Contact;
}

@section Style {
    <link rel="stylesheet" href="~/css/noticePages.css" />
}

<h1 style="text-align:center">
    <span>@ViewData["Title"]</span>
</h1>

@*https://www.cnil.fr/fr/cookies-traceurs-que-dit-la-loi*@
@*https://www.cnil.fr/fr/conformite-rgpd-information-des-personnes-et-transparence*@
@*https://www.bing.com/search?q=g%c3%a9n%c3%a9rateur+page+d%27information+rgpd&qs=HS&pq=g%c3%a9n%c3%a9rateur+&sc=8-11&cvid=1D5A41FA327448BD8222F4E1B79C08B0&FORM=QBRE&sp=1*@
@*https://www.tlmr-avocats.com/e-services/generateur-de-politique-de-confidentialite-conforme-rgpd/*@

<div style="margin-bottom:1em;margin-top:2em;">
    <h4 style="margin-bottom:0px;margin-top:0px;">Définitions</h4>
    <ul style="list-style-type: none;margin-bottom:0px;margin-top:0px;padding-left:0px">
        <li><b>L'Éditeur</b> : nous, la personne physique ou morale qui édite les services de communication au public en ligne.</li>
        <li><b>Le Site</b> : L'ensemble du site ou les pages Internet et les services en ligne proposés par l'Éditeur.</li>
        <li><b>L'Utilisateur</b> : vous, la personne utilisant le Site et les services.</li>
    </ul>
</div>

<div style="margin-bottom:1em;margin-top:2em;">
    <h4>Avant-propos</h4>
    <p>
        Cette notice à pour but d'informer l'Utilisateur sur ses droits et
        la nature des traitements qui sont réalisés avec ses données personnelles.
    </p>
    <p>
        Au-delà du Règlement Général sur la Protection des Données (RGPD) européen,
        nous nous engageons à être transparent
        sur notre politique en matière de données personnelles.
    </p>
    <p>
        À tout moment, vous pouvez nous contacter pour obtenir des renseignements, demander des corrections, effacer ou récupérer
        vos données personnelles.
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em;">
    <h4>Nous contacter</h4>
    <p>Pour nous joindre, vous pouvez :</p>
    <ul>
        <li>
            contacter le responsable RGPD : @contact.Name à l'adresse électronique dédiée : <a href="mailto:@SharedInfo.Rgpd.Mail">@SharedInfo.Rgpd.Mail</a>
        </li>
        <li>
            téléphoner au : <a href="tel:@contact.Cellphone">@contact.Cellphone</a>
        </li>
        <li>
            téléphone au : <a href="tel:@contact.Phone">@contact.Phone</a>
        </li>
        <li>
            écrire un message électronique à l'adresse : <a href="mailto:@contact.Mail">@contact.Mail</a>
        </li>
        <li>
            écrire un message sur notre page dédiée au contact <a asp-area="" asp-controller="Home" asp-action="Contact">ici</a>
        </li>
        <li>
            écrire un courrier à l'adresse postale
            <ul>
                <li>@contact.Name</li>
                <li>@contact.Address</li>
                <li>@contact.Country - @contact.Postcode</li>
                <li>@contact.City</li>
            </ul>
        </li>
    </ul>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Nature des données collectées</h4>
    <p><b>Dans le cadre de l'utilisation du Site, l'Éditeur est susceptible de collecter les catégories de données suivantes concernant ses Utilisateurs.</b></p>

    <h5 style="margin-top:initial">Gestion des comptes Utilisateur</h5>
    <table class="table table-bordered">
        <tr><th>Objectif(s) du traitement</th><th>Donnée(s) personnelle(s) concernée(s)</th><th>Durée de conservation</th><th>Destinataire(s)</th></tr>
        <tr>
            <td class="align-middle">
                <ul>
                    <li>Identifier techniquement l'Utilisateur dans notre base de données</li>
                    <li>Identifier les informations associées à l'Utilisateur</li>
                </ul>
            </td>
            <td class="align-middle">Identifiant généré</td>
            <td class="align-middle">@SharedInfo.Rgpd.General.TimeLife mois</td>
            <td class="align-middle">L'Éditeur</td>
        </tr>
        <tr>
            <td class="align-middle">
                <ul>
                    <li>Echanger avec l'Utilisateur à sa demande</li>
                </ul>
            </td>
            <td class="align-middle">adresse de messagerie électronique ou e-mail</td>
            <td class="align-middle">@SharedInfo.Rgpd.General.TimeLife mois</td>
            <td class="align-middle">L'Éditeur</td>
        </tr>
        <tr>
            <td class="align-middle">
                <ul>
                    <li>Fournir un code d'authentification <sup>(1)</sup> par SMS</li>
                    <li>Contacter l'Utilisateur après accord explicite</li>
                </ul>
            </td>
            <td class="align-middle">Numéro de téléphone portable</td>
            <td class="align-middle">@SharedInfo.Rgpd.General.TimeLife mois</td>
            <td class="align-middle">L'Éditeur</td>
        </tr>
        <tr>
            <td rowspan="2" class="align-middle">
                <ul>
                    <li>Préciser le destinataire dans les échanges avec l'Utilisateur</li>
                    <li>Personnaliser l'espace privé de l'Utilisateur sur le Site</li>
                </ul>
            </td>
            <td class="align-middle">
                Nom
            </td>
            <td rowspan="2" class="align-middle">@SharedInfo.Rgpd.General.TimeLife mois</td>
            <td rowspan="2" class="align-middle">L'Éditeur</td>
        </tr>
        <tr>
            <td class="align-middle">
                Prénom
            </td>
        </tr>
    </table>

    <ul>
        <il><sup>(1)</sup><i>Strategie de sécurité renforcée par double authentification</i></il>
    </ul>
    
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4 style="margin-top:initial">Agrégation des données</h4>
    <h5 style="margin-top:initial">Agrégation avec des données non personnelles</h5>
    <p>
        Nous pouvons publier, divulguer et utiliser les informations agrégées
        (informations relatives à tous nos Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs
        que nous combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou mentionné)
        et les informations non personnelles à des fins d'analyse du secteur et du marché, de profilage démographique,
        à des fins promotionnelles et publicitaires et à d'autres fins commerciales.
    </p>
    <h5 style="margin-top: initial">Agrégation avec des données personnelles disponibles sur les comptes sociaux de l'Utilisateur</h5>
    <p>
        Si vous connectez votre compte Utilisateur au compte d’un autre service afin de faire des envois,
        ledit service pourra nous communiquer vos informations de profil, de connexion,
        ainsi que toute autre information dont vous avez autorisé la divulgation.
        Nous pouvons agréger les informations relatives à tous nos autres Utilisateurs,
        groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Cookies</h4>
    <h5>Durée de conservation des cookies</h5>
    <p>
        Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies
        est de  @SharedInfo.Rgpd.Cookie.TimeLife mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur,
        tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies.
        La durée de vie des cookies n’est pas prolongée à chaque visite.
        Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.
        @{ //TODO: Optimiser le script cookies : suppression automatique si cookie expiré, redemander l'accord
        }
    </p>
    <h5>Finalité cookies</h5>
    <p>
        Les cookies peuvent être utilisés pour des fins statistiques notamment
        pour optimiser les services rendus à l'Utilisateur,
        à partir du traitement des informations concernant la fréquence d'accès,
        la personnalisation des pages ainsi que les opérations réalisées et les informations consultées.
        Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal.
        Le cookie enregistre des informations relatives à la navigation sur le service
        (les pages que vous avez consultées, la date et l'heure de la consultation...)
        que nous pourrons lire lors de vos visites ultérieures.
    </p>
    <h5>Personnaliser mon consentement</h5>
    <p>
        l'Utilisateur peut demander à supprimer tout ou partie des cookies déposés sur son terminal par le Site.
        Une page spécique est disponible pour cette usage, vous pouvez la consulter : <a asp-controller="Notice" asp-action="Cookies">ici</a>
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Délai de conservation des données personnelles et d'anonymisation</h4>
    <h5>Suppression des données après suppression du compte</h5>
    <p>
        Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation
        ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte.
        Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
        vous disposez par ailleurs d'un droit de suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec l'Éditeur.
        @{ //TODO: Mettre les moyens de purge en place
        }
    </p>
    <h5>Suppression des données après 3 ans d'inactivité</h5>
    <p>
        Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une période de trois ans,
        vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs délais,
        sans quoi vos données seront supprimées de nos bases de données.
        @{ //TODO: Envoi mail d'avertissement avant les 3 ans
            //TODO: script de suppression des données personnelles au bout de 3 ans
        }
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Suppression du compte</h4>
    <h5>Suppression du compte à la demande</h5>
    <p>
        L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à l'Éditeur
        OU par le menu de suppression de Compte présent dans les paramètres du Compte le cas échéant.
        @{ //TODO: Bouton supprimer mon compte
        }
    </p>
    <h5>Suppression du compte en cas de violation des CGU</h5>
    <p>
        En cas de violation d'une ou de plusieurs dispositions des CGU ou
        de tout autre document incorporé aux présentes par référence,
        l'Éditeur se réserve le droit de mettre fin ou restreindre
        sans aucun avertissement préalable et à sa seule discrétion,
        votre usage et accès aux services, à votre compte et à tous les Sites.
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Indications en cas de faille de sécurité décelée par l'Éditeur</h4>
    <h5>Information de l'Utilisateur en cas de faille de sécurité</h5>
    <p>
        Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles appropriées
        afin de garantir un niveau de sécurité adapté au regard des risques d'accès accidentels,
        non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de destruction
        des données personnelles vous concernant.
        Dans l'éventualité où nous prendrions connaissance d'un accès illégal aux données personnelles
        vous concernant stockées sur nos serveurs ou ceux de nos prestataires,
        ou d'un accès non autorisé ayant pour conséquence la réalisation des risques identifiés ci-dessus,
        nous nous engageons à :
    </p>
    <ul>
        <li>Vous notifier l'incident dans les plus brefs délais</li>
        <li>Examiner les causes de l'incident et vous en informer</li>
        <li>
            Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir
            les effets négatifs et préjudices pouvant résulter dudit incident
        </li>
    </ul>
    <h5>Limitation de la responsabilité</h5>
    <p>
        En aucun cas les engagements définis au point ci-dessus relatifs à la notification
        en cas de faille de sécurité ne peuvent être assimilés à une quelconque reconnaissance
        de faute ou de responsabilité quant à la survenance de l'incident en question.
    </p>
</div>

<div style="margin-bottom:1em;margin-top:2em">
    <h4>Modification des CGU et de la politique de confidentialité</h4>
    <p>
        <b>
            En cas de modification des présentes CGU, engagement de ne pas baisser le niveau de confidentialité de manière substantielle
            sans l'information préalable des personnes concernées
        </b>
    </p>
    <p>
        Nous nous engageons à vous informer en cas de modification substantielle des présentes CGU,
        et à ne pas baisser le niveau de confidentialité de vos données de manière substantielle
        sans vous en informer et obtenir votre consentement.
    </p>
</div>